body {
    background-color: rgb(236, 236, 236);
}

input[type=text]:focus {
    border: 3px solid #555;
}

input[type=text] {
    background-color: #f8f8f8;
    border-radius: 4px;
}

.post-body {
    font-size: x-large;
}


textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }

.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: contain;
    background-color: #ffffff
}

.comment-bottom {
    font-size: 14px;
}

.header {
    margin: 0 auto;
    position: relative;
}

.img-container{
    width: 100%;
    position: relative;
    display: inline-block;
}

.img-text{
    font-size:30px;
    color: rgb(88, 187, 226);
    border-radius: 25px;
    top:50%;
    left:50%;
    width:300px;
    height:50px;
    margin-top: -25px;
    margin-left: -150px;
    box-shadow: 5px 10px;
    position: absolute;
    background-color: black;
}

.ajax-load{
    background: #e1e1e1;
    padding: 10px 0px;
    width: 100%;
}

.grey {
    color: grey;
}
